
  <table cellspacing="0">
    <tr>
        <mat-form-field>
        <input matInput placeholder="Username">
        </mat-form-field>
    </tr>
    <tr>
        <mat-form-field>
        <input matInput placeholder="Email">
        </mat-form-field>
    </tr>
    <tr>
        <mat-form-field>
        <input matInput placeholder="Password">
        </mat-form-field>
    </tr>
    <tr>
        <td>
            <button mat-button>Cancel</button>
        </td>
        <td>
            <button mat-button color="primary">Login</button>
        </td>
    </tr>
</table>